### Bloop ###
.bloop/

### Metals ###
.metals/
project/**/metals.sbt
project/project

### Scala-CLI ###
.scala-build/

### SBT ###
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### SBT Patch ###
.bsp/

### Scala ###
*.class
*.tasty
*.log

### VisualStudioCode ###
.vscode/
